
<h1 appTest>Liste des Utilisateurs</h1>
<br>

<button class="btn btn-success"[routerLink]="['add-user']">Ajouter User</button>
<br><br>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="main-box clearfix">
        <form>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="Rechercher par catégorie"
                name="search"
              />
            </div>
          </form>
          
        <div class="table-responsive">
          <table class="table user-list">
            <thead>
              <tr>
                <th><span>User</span></th>
                <th><span>Created</span></th>
                <th class="text-center"><span>Status</span></th>
                <th><span>Email</span></th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody *ngFor="let item of list">
              <app-fils-user [item]="item" (sender)="delete($event)"></app-fils-user>
            </tbody>
          </table>
        </div>
        <ul class="pagination pull-right">
          <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
